[user]
	name = Joshua Oertel
	email = 16182568+joshwashywash@users.noreply.github.com
[alias]
	plog = log --graph --decorate --oneline
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[credential]
	helper = store
